<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoList</title>

</head>
<body>

    <h1>  <%=  kindOfDay  %>    </h1>
   
    <ul>
        <li>buy food</li>
        <li>cook food</li>
        <li>eat food</li>
        <!--instead of just consolelogging we need to pass the value so that the info from server appears here-->
        <li><%= newListItem %></li>
    </ul>

<!--pasing data from webpage to server -->
    <form action="/" method="post">
    <input type="text" name="newitem" >
    <button type="submit" name = "button">Add </button>
    </form>
</body>
</html>