<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoList</title>

</head>
<body>
    <!--the result of the logic which was written in app.js will show here-->
     <h1>It is a <%=kindOfDay %>  !</h1>

</body>
</html>