<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoList</title>

</head>
<body>
    <!-- 
EJS scriplet tags <%   %>

lets you manage control folw
cant be added to the line where there is html
used along with js code
works line by line basis so every line of js must have an opening and closing tags


    -->
    <%  if(kindOfDay === "Saturday" || kindOfDay=== "Sunday"){      %>
            <h1 style = "color :blue">It is a <%=kindOfDay %>  todolist !</h1>
    <%     }else{                                                    %>
            <h1 style = "color :blueviolet">It is a <%=kindOfDay %>  todolist !</h1>
    <%      }                                                        %>
     

</body>
</html>